repos:
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.7
- repo: local
  hooks:
    - id: nosetests
      name: nosetests
      entry: sh -ec 'nosetests -w janis'
      language: system
