@import url("css/theme.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');

h1 h2 {
    font-family: "Roboto";
}

body {
    font-family: "Roboto";
}

.wy-nav-content-wrap {
    background: clear;
}

.wy-nav-content-wrap {
    background: white;
}

.wy-nav-side {
    background: #efefef;
}

.wy-menu-vertical a {
    color: gray;
}